site_name: LSHARK API Documentation
site_description: Public API and hooks for LSHARK (Garry's Mod / DarkRP)
site_url: https://dahaka637.github.io/lshark-docs/

theme:
  name: material
  language: en

  logo: assets/lshark-logo.png
  favicon: assets/lshark-logo.png

  palette:
    - scheme: slate
      primary: blue
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

    - scheme: default
      primary: blue
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy


nav:
  - Home: index.md
  - API:
      - Overview: api/overview.md
      - Functions: api/functions.md
      - Hooks: api/hooks.md
      - Contract Model: api/contract-model.md
      - Lifecycle: api/lifecycle.md
